<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>ℹ️ About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img alt="Profile banner" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Student Developer</ion-card-title>
      <ion-card-subtitle>NoteSnap Creator</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Hello! I am building this app as part of my Unit 3 progressive build. It features responsive layouts, a sidebar, and dark mode!
    </ion-card-content>
  </ion-card>
</ion-content>