<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>NoteSnap</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/home" routerLinkActive="selected">
              <ion-icon slot="start" name="document-text"></ion-icon>
              <ion-label>Notes</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/settings" routerLinkActive="selected">
              <ion-icon slot="start" name="settings"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/photo" routerLinkActive="selected">
              <ion-icon slot="start" name="camera"></ion-icon>
              <ion-label>Photos</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/about" routerLinkActive="selected">
              <ion-icon slot="start" name="information-circle"></ion-icon>
              <ion-label>About</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>